html, body
  margin 0

#app
  margin-top 70px

#nprogress
  .bar
    background #9b4dca!important
  .peg
    box-shadow 0 0 10px #9b4dca, 0 0 5px #9b4dca!important

input
  appearance none

.button-small
  font-size .8rem
  height 2.8rem
  line-height 2.8rem
  padding 0 1.5rem

pre
  -webkit-overflow-scrolling touch
