html, body
  margin 0

#app
  margin-top 70px

.Nav
  position fixed
  top 0
  right 0
  left 0
  background-color rgba(255,255,255,0.4)
  box-shadow 0 0 1px rgba(0,0,0,0.25)
  height 50px
  line-height 50px
  z-index 5

.Footer
  border-top 1px solid #f4f5f6
  padding-top 3rem
  text-align center
  margin 5rem 0
  color #f66

  a
    color #606c76

#nprogress
  .bar
    background #9b4dca!important
  .peg
    box-shadow 0 0 10px #9b4dca, 0 0 5px #9b4dca!important
