.Flash
  padding .75em 0
  margin 0 auto
  margin-bottom 10px
  font-size 13px
  border-style solid
  border-width 1px
  border-radius 5px
  border 1px solid rgba(27, 31, 35, 0.15)
  position relative
  text-align left

  &--default
    background-color rgba(0, 144, 224, 0.1)
    border-color rgba(0, 144, 224, 0.05)
    color #0090e0

  &--error
    background-color rgba(214, 66, 66, 0.1)
    border-color rgba(214, 66, 66, 0.05)
    color #d64242

  &--success
    background-color rgba(52, 194, 64, 0.1)
    border-color rgba(52, 194, 64, 0.05)
    color #34c240

  button
    height auto
    line-height inherit
    margin-bottom 0