.Home
  margin-top 10rem
  text-align center

  &__banner
    & p
      letter-spacing .5rem

  &__part
    margin-top 5rem

    &__title
      border-bottom 1px dashed #f4f5f6
      display inline-block
      padding 6px 20px
