.Post
  max-width 660px
  margin 0 auto

  &__picture
    min-height 360px
    background #f4f5f6
    width 100%
    display block

  &__title
    margin-top 12px
    letter-spacing 1px

  &__info
    > span
    > time
    > a
      margin-left 12px

  &__article
    margin-top 20px

    > code
      white-space normal

  @media (max-width 40.0rem)
    &
      margin 0 -2rem

    &__article
     padding 0 2rem