.Nav
  position fixed
  top 0
  right 0
  left 0
  background-color rgba(255,255,255,0.4)
  box-shadow 0 0 1px rgba(0,0,0,0.25)
  height 50px
  line-height 50px
  z-index 5

  &__tool
    display flex
    align-items center

    .Nav__tool__item
      margin-left 14px

    .Nav__tool__item.button
      margin-bottom 0

    a.Nav__tool__item
      display block

    img.Nav__tool__item
      width 36px
      height 36px
      border-radius 50%
      background #f4f5f6
      display block

.Footer
  border-top 1px solid #f4f5f6
  padding-top 3rem
  text-align center
  margin 5rem 0
  color #f66
  line-height 1

  a
    color #606c76
