.Upload
  border 1px dashed #ccc
  height 360px
  cursor pointer
  display flex
  align-items center
  margin auto
  background-repeat no-repeat
  background-size cover
  background-position center center

  &__text
    flex 1
    text-align center
